<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039694239805-mejqeei1keu0ur332cret3taenn5bucc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039694239805-mejqeei1keu0ur332cret3taenn5bucc</string>
	<key>API_KEY</key>
	<string>AIzaSyBWd6nbEz3QKeAc6AQG7PtPEDfAIVfrVtg</string>
	<key>GCM_SENDER_ID</key>
	<string>1039694239805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmiapp</string>
	<key>PROJECT_ID</key>
	<string>bmi-app-967fe</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-app-967fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039694239805:ios:1a8888b6549e88823ab254</string>
</dict>
</plist>